// @import 'bootstrap/scss/bootstrap-reboot.scss';

body,
html {
  background-color: #fefefe;
}

.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

img {
  max-width: 100%;
  transform: translateY(-25%);
}
