doctype html
html(lang="en-GB")
  head
    title deadbird
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .contain
      img(src="https://media.discordapp.net/attachments/366945814528000000/555163826786402311/emote.png", alt="deadbird")

    // I don't want to be fishing for fish 
    // I just want to let them freely swim 
